@charset "UTF-8";

/* 장바구니 페이지 - cart.jsp */
.cart_logo,.order_logo{margin-top: 30px;}
/* 장바구니 목록 테이블 */
.cart_user_label{margin-top:50px;}
.cart_user_label label{text-decoration: underline; margin-right:5px;}
.cart_user_label i{margin-left:5px;}
.cartList{height: auto; margin-top:50px; width:980px;}
.cartList .cartTb{width:100%; text-align: center;}
.cartList .cartTb th{background-color: rgb(222, 217, 196); height: 40px; border-top: 1px solid darkgray; border-bottom:1px solid darkgray;}
.cartList .cartTb td{border-bottom:1px solid darkgray;}
.cartList .cartTb td img{height: 120px; width:150px; margin-top: 10px; margin-bottom:10px; cursor:pointer;}
.cartList .cartTb .btn.btn-outline-danger{height: 30px; line-height: 0;}
.cartList .cartTb input[type='checkbox']{width:20px; height: 20px; position: relative; top:2px;}
.cartList .cartTb label{margin-left:5px; position: relative; top:-2px;}
.cartList .cartTb .product_name{cursor:pointer;}

.input-group.mb-3{width: 130px; height: 33px; margin:15px;}
.btn.btn-outline-secondary{width : 40px; font-size: 15px;}
#plusBtn{position: relative; left:53px; border-bottom-right-radius: 4px; border-top-right-radius: 4px;}
.cartList .cartTb .form-control{position: relative; left:-38px; text-align: center; background-color: white; border-top: 1px solid gray; border-bottom : 1px solid gray; border-bottom-right-radius: 0; border-top-right-radius: 0;}

/* 총 금액 영역 */
.total_price_area{margin-top:80px; width:980px; height: 80px; background-color: rgb(222, 217, 196);}
.total_price_area .container, .total_price_area .row{height: 100%;}
.total_price_area .row .col strong,.total_price_area .row .col .totalPrice{font-size:20px; line-height: 4;}

/* 취소/ 주문 버튼 영역 */
.order_btn_area{margin-top:40px; text-align: right;}
.order_btn_area button{width:120px; font-weight: bold;}
.order_btn_area .btn.btn-primary.btn-lg{background-color: white; color:rgb(208, 202, 178); border:1px solid rgb(208, 202, 178);}
.order_btn_area .btn.btn-secondary.btn-lg{background-color: rgb(208, 202, 178); border-color: transparent;}



/* 주문 페이지 - order.jsp */

/* 주문 상품 목록 */
.order_label{margin-top:50px;}
.order_label i{margin-left:5px; color: red;}
.orderList{height:auto; width:980px; margin-top:50px;}
.orderList .orderListTb{width:100%; text-align: left;}
.orderList .orderListTb th{background-color: rgb(222, 217, 196); height: 35px; border-top: 1px solid darkgray; border-bottom:1px solid darkgray; padding-left: 5px;}
.orderList .orderListTb td{border-bottom:1px solid darkgray; height:30px; padding-left:10px;}
.orderList .orderListTb .total_price{text-align: right;}

/* 배송지 정보 영역 */
.deliverInfo{width:980px; margin-top:50px; height:250px; padding-top:50px; border:3px solid rgb(208, 202, 178); border-radius: 20px;}
.deliverInfo_label, .pay_label{width:250px; height:50px; background-color: rgb(208, 202, 178); border-radius: 20px; font-size: 18px; font-weight: bold; z-index:2; position: relative; top: 80px; left: -376px; line-height: 2.5;}
.deliverInfo .deliverTb{width:100%; height: 150px;}
.deliverInfo .deliverTb th{width:15%; text-align: left; padding-left:40px; }
.deliverInfo .deliverTb .addrInfo{font-size:13px; font-weight: bold;}
.deliverInfo .deliverTb .addr{width:60%;}
.deliverInfo .deliverTb .name, .deliverInfo .deliverTb .addr2{ border-color:transparent; border-bottom-color: rgb(208, 202, 178); height: 30px; margin-bottom: 10px; width:575px; margin-left: -5px;}
.deliverInfo .deliverTb .addr2{margin-top:5px;}
input:focus, button:focus{outline:none;}

.deliverInfo .deliverTb .btn.btn-outline-info{width:200px; color:rgb(208, 202, 178);border:2px solid rgb(208, 202, 178); font-weight: bold;}
.deliverInfo .deliverTb .btn.btn-outline-info:hover{background-color:rgb(208, 202, 178); border:none; color : white; font-weight: bold;}

/*결제 정보 영역 */
.payInfo{width:980px; margin-top:50px; height:150px; padding-top:35px; border : 3px solid rgb(208, 202, 178); border-radius: 20px;}
.payInfo .payTb{width:100%; height: 100px;}
.payInfo .payTb th{width:15%; padding-left:40px;}
.payInfo .payTb td{text-align: left;}
.payInfo .payTb input[type='radio']{width:30px; height: 20px; position: relative; top:-5px;}
.payInfo .payTb .bi.bi-credit-card{margin-left:5px; font-size:40px;}

/* 페이지 맨 하단 버튼 안잘리게 빈 영역 하나 놓고 높이조정*/
.margin_bottom{height: 60px;}


/* 주문 상세 페이지(테이블 공통 css는 주문 페이지 영역에 있음) - orderDetail.jsp */
.order_detail_label{margin-top:-20px;}
.order_detail_label i{margin-left:5px; color : green;}
.deliverInfo .deliverTb .bi.bi-credit-card{font-size:30px;}
.orderList .orderListTb .orderHistory{font-weight: normal;}
.orderList .orderListTb strong{color:green;}


/* 주문 내역 페이지 - orderHistory.jsp */
.order_History_label{margin-top:-20px;}
.order_History_label p{text-align: right;}
.order_History_label p i{color:red; margin-right: 5px;}
.order_History_label p strong{color:red;}
.orderHistory{height:auto; width:980px;}
.orderHistory .orderHistoryTb{width:100%; text-align: left; margin-top:50px;}
.orderHistory .orderHistoryTb .orderDate{background-color: rgb(222, 217, 196); height: 35px; border-top: 1px solid darkgray; border-bottom:1px solid darkgray; padding-left: 5px;}
.orderHistory .orderHistoryTb td{padding-left:10px; height: 40px;}
.orderHistory .orderHistoryTb td a{text-decoration: underline; font-size:13px; font-weight: bold;}
.orderHistory .orderHistoryTb .orderDetail{color:blue;}
.orderHistory .orderHistoryTb .orderCancel{color:red; margin-left:10px;}

.orderHistory .orderHistoryTb .cart_in_label{text-align: center;}
.orderHistory .orderHistoryTb img{width:120px; height: 90px; margin:20px; cursor:pointer;}
.orderHistory .orderHistoryTb .product_name{font-size:20px; cursor:pointer;}
.orderHistory .orderHistoryTb .cart_in_btn_area{text-align: center;}

.orderHistory .orderHistoryTb .last{border-bottom: 1px solid lightgray;}